html{
    background-color: #348aa7;
}
.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #5dd39e;
    color: #bce784;
    font-size: 25px;
    justify-content: space-between;
    display: flex;
    padding: 10px;
}